<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="..templates/index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <h2 class="m-0 text-custom-purple">

                           <img src="../static/img/logo.png" height="60">

            LuxeLane</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="{{ url_for('home') }}" class="nav-item nav-link {% if request.path == '/' %}active{% endif %}">Главная</a>
          <a href="{{ url_for('about') }}" class="nav-item nav-link {% if request.path == '/about' %}active{% endif %}">О нас</a>
          <a href="{{ url_for('service') }}" class="nav-item nav-link {% if request.path == '/service' %}active{% endif %}">Услуги</a>
          <a href="{{ url_for('contact') }}" class="nav-item nav-link {% if request.path == '/contact' %}active{% endif %}">Контакты</a>
        </div>

    <button id="openModalButton" class="btn btn-custom-purple py-4 px-lg-5 d-none d-lg-block">Подобрать авто<i class="fa fa-arrow-right ms-3"></i></button>
    </div>
</nav>
